<!--  
  @name: breui-vue 徽章
  @prefix:bre-badge
  @description: breui-vue 徽章
-->
<bre-badge type="${1|dot,rim|}" theme="${2|orange,green,cyan,blue,black,gray|}" ${3| ,ripple|}></bre-badge>
<!--  
  @name: breui-vue 引用
  @prefix:bre-quote
  @description: breui-vue 引用
-->
<bre-quote ${1| ,type="nm"|}>${2}</bre-quote>
<!--  
  @name: breui-vue 分割线
  @prefix:bre-line
  @description: breui-vue 分割线, border-style 参见 MDN https://developer.mozilla.org/zh-CN/docs/Web/CSS/border-style
-->
<bre-line 
  direction="${1|horizontal,vertical|}" 
  theme="${2|red,orange,green,cyan,blue,black,gray,#EEF08D|}"
  content-position="${3|center,left,right|}"
  border-style="${4|solid,dotted,dashed,double,groove,ridge,inset,outset|}"
  >
  ${5}
</bre-line>
<!--  
  @name: breui-vue 字段
  @prefix:bre-field
  @description: breui-vue 字段
-->
<bre-field title="${1}">${2}</bre-field>
<!--  
  @name: breui-vue 文字提示
  @prefix:bre-tooltip
  @description: breui-vue 文字提示
-->
  <bre-tooltip content="${1}" position="${2|top,bottom,left,right|}">
    ${3}
  </bre-tooltip>
<!--  
  @name: breui-vue 分步
  @prefix:bre-step
  @description: breui-vue 分步
-->
<bre-step :active="${1}" composition="${2|default,row|}" direction="${3|horizontal,vertical|}" on-change="${4}">
  <bre-step-item title="${5}" content="${6}"></bre-step-item>
</bre-step>
<!--  
  @name: breui-vue 分步 item
  @prefix:bre-step-item
  @description: breui-vue 分步 item
-->
<bre-step-item title="${1}" content="${2}" status="${3|primary,success,fail,warning|}"></bre-step-item>
<!--  
  @name: breui-vue 分割面板
  @prefix:bre-split-panel
  @description: breui-vue 分割面板, item space 属性合计 100
-->
<bre-split-panel vertical="${1|false,true|}">
  <bre-split-panel-item :space="${2:30}">1</bre-split-panel-item>
  <bre-split-panel-item :space="${3:30}">2</bre-split-panel-item>
  <bre-split-panel-item :space="${4:40}">3</bre-split-panel-item>
</bre-split-panel>
<!--  
  @name: breui-vue 异常
  @prefix:bre-exception
  @description: breui-vue 异常
-->
<bre-exception status="${1|403,404,500|}" title="${1}" describe="${2:描述信息}">
  <template #extra>
    <bre-button>刷新</bre-button>
    <bre-button type="primary">返回</bre-button>
  </template>
</bre-exception>
<!--  
  @name: breui-vue 结果
  @prefix:bre-result
  @description: breui-vue 结果
-->
<bre-result status="${1|success,failure|}">
  <template #content>
    ${2:内容插槽}
  </template>
  <template #extra>
    <bre-button>返回首页</bre-button>
  </template>
</bre-result>
<!--  
  @name: breui-vue 虚拟滚动
  @prefix:bre-scroll
  @description: breui-vue 虚拟滚动
-->
<bre-scroll height="${1:200px}" thumbWidth="${2}" thumbColor="${3}" trackColor="${4}">
 ${5}
</bre-scroll>
<!--  
  @name: breui-vue 通告栏
  @prefix:bre-notice-bar
  @description: breui-vue 通告栏
-->
<bre-notice-bar text="${1}" mode="${2|link,closeable|}" leftIcon="breui-icon-mute" rightIcon="breui-icon-close"></bre-notice-bar>


